.btn {
	border: none;
	outline: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	padding: 12px 32px;
	border-radius: 12px;
	cursor: pointer;
	transition: 0.2s ease;
	text-decoration: none;
	&:hover {
		background-color: #dddddd;
	}
	&--light {
		background-color: #b39d89;
		color: #000;
		&:hover {
			background-color: #ceb49d;
		}
	}
	&--dark {
		background-color: #604f46;
		color: #fff;
		&:hover {
			background-color: #79655a;
		}
	}
	&--red {
		background-color: #a85656;
		color: #fff;

		&:hover {
			background-color: #854242;
		}
	}
	&--green {
		background: #7faa7f;
		color: #fff;
		&:hover {
			background-color: #9ad19a;
		}
	}
}
