.faq-section {
	padding: 100px 0 60px;
	&__title {
		text-align: center;
	}
}
.faq {
	&__accordion {
		width: 100%;
		margin: 20px auto;
		&-item {
			background: rgba(255, 255, 255, 0.5);
			backdrop-filter: blur(5px);
			color: #000;
			margin: 20px 0;
			border-radius: 7px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
			@media screen and (max-width: 678px) {
				margin: 10px 0;
			}
			&-header {
				padding: 12px 20px;

				font-weight: bold;
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
				cursor: pointer;
				h3 {
					padding-right: 30px;
					line-height: 36px;
				}
				i {
					transition: 0.2s ease;
				}
				&.active {
					i {
						transform: rotate(135deg);
					}
				}
			}
			&-body {
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.2s ease-out;
				&-content {
					padding: 20px;
					line-height: 22px;
					border-top: 1px solid #b39d89;
				}
			}
		}
	}
}
