* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}

.navigation {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0 20px;
	transition: 0.1s ease;
	z-index: 1000;
	&.non-transparent {
		background-color: #604f46;
	}
	&__logo {
		position: absolute;
		left: 40px;
		top: 50%;
		font-family: 'Playfair Display';
		text-decoration: none;
		color: #fff;
		transition: 0.1s ease;

		span {
			font-size: 50px;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 4px;
				bottom: 0;
				left: 0;
				background-color: #fff;
				transform-origin: bottom right;
				transition: transform 0.15s ease-out;
			}

			&:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		&__item {
			margin-left: 24px;
		}
		&__link {
			position: relative;
			text-decoration: none;
			color: #fff;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 1px;
				bottom: -2px;
				left: 0;
				background-color: #fff;
				transform-origin: bottom right;
				transition: transform 0.15s ease-out;
			}

			&:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
			span svg {
				width: 100%;
				max-width: 25px;
				height: auto;
				margin-right: 4px;
			}
		}
	}

	.burger {
		display: none;
		position: relative;
		width: 40px;
		height: 22px;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		outline: 0;
		cursor: pointer;
		z-index: 1000;
	}

	.burger span {
		position: absolute;
		width: 30px;
		height: 1px;
		background-color: #fff;
	}
	.burger.black span {
		background-color: #000;
	}
	.burger.white span {
		background-color: #fff;
	}

	.burger span:nth-child(1) {
		top: 0;
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
		-webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87),
			-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	}

	.burger span:nth-child(2) {
		top: 8px;
		opacity: 1;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.burger span:last-child {
		top: 16px;
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
		-webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87),
			-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	}

	.burger.open span:nth-child(1) {
		top: 50%;
		-webkit-transform: translateX(-50%) translateY(0) rotate(45deg);
		transform: translateX(-50%) translateY(0) rotate(45deg);
		-webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
		transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s,
			-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	}

	.burger.open span:nth-child(2) {
		opacity: 0;
	}

	.burger.open span:last-child {
		top: 50%;
		-webkit-transform: translateX(-50%) translateY(0) rotate(-45deg);
		transform: translateX(-50%) translateY(0) rotate(-45deg);
		-webkit-transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
		transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
		transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
		transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s,
			-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	}
}
.mob-nav {
	display: none;
	transition: 0.3s ease;
}
.mob-nav.active {
	transform: translateX(0);
}
.navigation.scroll .burger span {
	background-color: #000;
}
.navigation.scroll {
	border-bottom: 1px solid #000;

	height: 68px;
	background-color: rgba(255, 255, 255, 1);
}
.navigation.scroll .navigation__logo {
	color: #000;
	top: 50%;
	transform: translate(0, -50%);
}
.navigation.scroll .navigation__logo span:after {
	background-color: #000;
	height: 2px;
	bottom: 2px;
}

.navigation.scroll .navigation__list__link {
	color: #000;
}

.navigation.scroll .navigation__list__link:after {
	background-color: #000;
}

.navigation.scroll .navigation__button span {
	background-color: #000;
}

.intro {
	width: 100%;
	height: 100vh;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-self: center;
	padding: 0 15px;
	&__section {
		display: flex;
		justify-content: center;
		align-self: center;
		flex-direction: column;
	}
	&__body {
		max-width: 800px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 30px 50px;
	}
	&__text {
		h1 {
			font-family: 'Playfair Display';
			font-size: 36px;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 30px;
		}
		p + p {
			margin-top: 20px;
		}
	}
	&__navigation {
		position: relative;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.5);
		&__list {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			padding: 0 24px;
		}
		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 16px 36px;
		}

		&__link {
			text-decoration: none;
			color: #000;
		}

		&__icon {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translate(0, -50%) scaleX(-1);
			img {
				width: 100%;
				max-width: 30px;
				height: auto;
			}
		}
	}
}

.section-cards {
	padding: 50px 0;

	.wrapper {
		max-width: 1140px;
		margin: 0 auto;
	}
	.cards {
		padding: 40px 15px;
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 30px;
			list-style: none;
			&__container {
				max-width: 300px;
				position: relative;
				border: 2px solid #604f46;
				padding: 30px;
				transition: 0.3s ease;
				img.quotes {
					position: absolute;
					width: 30px;
					height: auto;
					background-color: #fff;
					transition: 0.3s ease;
				}
				img.top-quotes {
					top: -15px;
					left: -15px;
				}
				img.bottom-quotes {
					bottom: -15px;
					right: -15px;
					transform: scale(-1);
				}
			}
		}
	}
}

.section-brands {
	padding: 50px 0;
	.brands-title {
		font-size: 30px;
		text-align: center;
	}
	.wrapper {
		max-width: 1140px;
		margin: 0 auto;
	}
	.brands {
		padding: 40px 0;
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			list-style: none;
			gap: 50px;
		}
		&__item {
			width: 25%;
		}

		img {
			width: 100%;
			max-width: calc((1140px / 4) - 80px);
			height: auto;
			filter: grayscale(1);
			transition: 0.3s ease;
		}
		img:hover {
			filter: grayscale(0);
		}
	}
}

.footer {
	background-color: #604f46;
	padding: 0 15px;
	&__navigation {
		padding: 40px 16px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		list-style: none;

		&__link {
			position: relative;

			text-decoration: none;
			color: #fff;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 1px;
				bottom: -2px;
				left: 0;
				background-color: #fff;
				transform-origin: bottom right;
				transition: transform 0.15s ease-out;
			}

			&:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}
}

@media screen and (max-width: 678px) {
	.intro__body {
		padding: 10px 20px;
	}
	.navigation .navigation__list {
		display: none;
	}
	.mob-nav {
		position: fixed;
		right: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 300px;
		background-color: #fff;
		z-index: 11;
		transform: translateX(100%);
		border-left: 1px solid #000;
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			list-style: none;
			&__item {
				font-size: 20px;
				padding: 30px 0;
			}
			&__link {
				text-decoration: none;
				color: #000;
				text-transform: uppercase;
				span svg {
					width: 100%;
					max-width: 25px;
					height: auto;
					margin-right: 4px;
				}
			}
		}
	}
	.navigation .burger {
		display: block;
		z-index: 13;
	}
	.intro__navigation {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.intro__text h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.intro__text p {
		font-size: 14px;
	}
	.footer__navigation {
		flex-direction: column;
	}
	.footer__navigation__item {
		padding: 16px 0;
	}
}

.bg1 {
	background-color: #eeeeee;
}
.main-content {
	padding: 100px 0 60px 0;
	min-height: calc(100vh - 99px);
	.wrapper {
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 15px;
	}
	&.bg-1 {
		background-color: #eeeeee;
	}
	&.bg-2 {
		background-color: #ffffff;
	}
}

.breadcrumbs {
	padding: 30px 0;
	&__list {
		list-style: none;
		display: flex;
		justify-content: start;
		align-items: center;
	}
	&__item {
		position: relative;
		margin-right: 20px;
		&::after {
			content: '/';
			position: absolute;
			top: 0;
			right: -14px;
		}
	}
	&__item:last-child {
		&::after {
			display: none;
		}
	}

	&__link {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.4);

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			transform: scaleX(0);
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.4);
			transform-origin: bottom right;
			transition: transform 0.15s ease-out;
		}

		&:hover:after {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
	&__link.active {
		color: #000;
		cursor: auto;
		pointer-events: none;
	}
	&__link.active:hover:after {
		display: none;
	}
}

.content {
	&__columns {
		display: flex;
	}
	&__column {
		display: flex;
		width: 50%;
		&.content__search {
			flex-direction: column;
			padding-right: 12px;
		}
		&.content__map {
			justify-content: center;
		}
		.content__map__block {
			border-radius: 50px;
			img {
				position: -webkit-sticky;
				position: sticky;
				top: 100px;
				width: 100%;
				max-width: 500px;
				height: auto;
				border-radius: 50px;
				border: 1px solid rgba(255, 255, 255, 0.8);
			}
		}
	}
}
.search__input {
	margin-top: 20px;
	&-box {
		position: relative;
		width: 100%;
		input {
			width: 100%;
			padding: 10px 24px 10px 36px;
			font-size: 16px;
			outline: none;
			border: none;
			&::placeholder {
				font-style: italic;
				color: rgba(0, 0, 0, 0.16);
			}
		}
	}

	span {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0, -50%);
		img {
			max-width: 20px;
			width: 100%;
			height: auto;
		}
	}
	button {
		margin-top: 10px;
		width: 100%;
		border: none;
		outline: none;
		background-color: #fff;
		padding: 10px 0px;
		border-radius: 4px;
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		transition: 0.3s ease;
		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		}
	}
}
.search__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 24px;
	margin: 20px 0;
	.btn {
		width: 50%;
		border: none;
		outline: none;
		background-color: #fff;
		padding: 10px 0px;
		border-radius: 4px;
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		transition: 0.3s ease;
		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		}
	}
}
.search__result {
	&__block {
	}
	&__list {
		list-style: none;
	}
	&__item {
		margin-bottom: 20px;
	}
	&__link {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-decoration: none;
		color: #000;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		padding: 16px;
		transition: 0.3s ease;
		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		}
	}
}
.result {
	&__data {
		display: flex;
		align-items: center;
	}
	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 120px;
			height: auto;
			object-fit: cover;
		}
	}
	&__info {
		list-style: none;
		padding-left: 14px;
		&__item {
			span {
				font-weight: 700;
			}
			&--big {
				font-size: 24px;
				font-weight: 500;
				padding-bottom: 8px;
			}
		}
	}
	&__description {
		width: 100%;
		margin-top: 12px;
		&__text {
			border: 1px solid #000;
			border-radius: 4px;
			padding: 10px;
			h3 {
				text-align: center;
			}
			p + p {
				margin-top: 8px;
			}
		}
	}
}

.pagination {
	padding: 0 12px;
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
	}
	&__item {
		margin: 0 8px;
		background-color: #fff;
		border-radius: 4px;
		transition: 0.1s ease;
		&.pagination__link {
			background-color: #fff;
			color: #000;
		}
		&.active .pagination__link {
			background-color: #000;
			color: #fff;
		}
		&.pagination-dots {
			background-color: transparent;
		}
		&:hover {
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
		}
	}

	&__link {
		display: block;
		padding: 8px;
		text-decoration: none;
		border-radius: 4px;
		color: #000;
		font-weight: 500;
	}
}

@media screen and (max-width: 900px) {
	.content__column.content__search {
		width: 60%;
	}
	.content__column.content__map {
		width: 40%;
	}
}
@media screen and (max-width: 687px) {
	.content__column.content__search {
		width: 100%;
		padding-right: 0;
	}
	.content__column.content__map {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.result__image {
		margin: 0 auto;
	}
	.result__data {
		flex-direction: column;
		align-items: flex-start;
	}
}

.title-h1 {
	font-size: 48px;
	font-weight: 700;
}
.subtitle-h1 {
	font-size: 18px;
}
.content__header {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	padding: 36px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding-bottom: 36px;
	&__text,
	&__image {
		width: 50%;
	}
	&__image {
		padding-left: 18px;
		padding-right: 0;
		display: flex;
		justify-content: flex-end;
		img {
			max-width: 400px;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__text {
		h2 {
			font-size: 30px;
			margin-bottom: 12px;
		}
		p + p {
			margin-top: 8px;
		}
	}
}
.content__item:nth-child(2n) {
	flex-direction: row-reverse;
}
.content__item:nth-child(2n) .content__item__image {
	justify-content: flex-start;
	padding-left: 0;
	padding-right: 18px;
}

//box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 12%);
