* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}

.btn {
	border: none;
	outline: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	padding: 12px 32px;
	border-radius: 12px;
	cursor: pointer;
	transition: 0.2s ease;
	&--light {
		background-color: #b39d89;
		color: #000;
		&:hover {
			background-color: #ceb49d;
		}
	}
	&--dark {
		background-color: #604f46;
		color: #fff;
		&:hover {
			background-color: #79655a;
		}
	}
}
.header {
	position: fixed;
	width: 100%;
	background-color: #604f46;
	z-index: 999999;
	&__wrapper {
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px;
	}
	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 21px 0;
	}
	&__logo a {
		text-decoration: none;
		font-weight: 400;
		font-size: 30px;
		line-height: 35px;
		color: #fff;
		transition: 0.2s ease;
		&:hover {
			color: #b39d89;
		}
	}
	&__navigation {
	}
	.navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			&__item {
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
				margin-right: 56px;
				&:last-child {
					margin-right: 30px;
				}
			}
			&__link {
				text-decoration: none;
				color: #fff;
				transition: 0.2s ease;

				&:hover {
					color: #b39d89;
				}
			}
		}
		&__search {
			.input__box {
				position: relative;
				input {
					width: 100%;

					border: none;
					outline: none;
					background-color: #c4c4c4;
					border-radius: 7px;
					padding: 6px 15px;
					&::placeholder {
						color: #b39d89;
					}
				}
				.search__icon {
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translate(0, -50%);
					color: #b39d89;
				}
			}
		}
		&__language {
			margin-left: 10px;
			.language {
				&__list {
					li {
						display: flex;
						justify-content: center;
						align-items: center;
						a {
							text-decoration: none;
							text-transform: uppercase;
							color: #b39d89;
							margin-left: 5px;
						}
					}
				}
				&__icon {
					color: #b39d89;
				}
			}
		}
	}
}
.mob-nav {
	display: none;
	transform: translateX(100%);
	transition: 0.2s ease;
}
.mob-nav.active {
	transform: translateX(0);
}

.burger {
	display: none;
	position: relative;
	width: 40px;
	height: 22px;
	right: -20px;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	outline: 0;
	cursor: pointer;
	z-index: 1000;
}

.burger span {
	position: absolute;
	width: 30px;
	height: 1px;
	background-color: #fff;
}
.burger.black span {
	background-color: #000;
}
.burger.white span {
	background-color: #fff;
}

.burger span:nth-child(1) {
	top: 0;
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
	-webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87),
		-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger span:nth-child(2) {
	top: 8px;
	opacity: 1;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.burger span:last-child {
	top: 16px;
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
	-webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87),
		-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger.open span:nth-child(1) {
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(0) rotate(45deg);
	transform: translateX(-50%) translateY(0) rotate(45deg);
	-webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s,
		-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
}

.burger.open span:nth-child(2) {
	opacity: 0;
}

.burger.open span:last-child {
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(0) rotate(-45deg);
	transform: translateX(-50%) translateY(0) rotate(-45deg);
	-webkit-transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
	transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s,
		-webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
}

.intro-section {
	height: 100vh;
	width: 100%;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center center;
	.intro {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 20px;
		&__block {
			max-width: 800px;
			width: 100%;
			padding: 40px;
			display: flex;
			justify-content: start;
			align-items: center;
			flex-direction: column;

			background: rgba(255, 255, 255, 0.4);
			backdrop-filter: blur(25px);
			border-radius: 20px;
		}
		&__title {
			font-size: 40px;
			line-height: 60px;
			font-weight: 400;
			text-align: center;
		}
		&__text {
			margin-top: 24px;
			p + p {
				margin-top: 14px;
			}
		}
	}
}
.section-cards {
	padding: 80px 0;
	@media screen and (max-width: 678px) {
		padding: 60px 0;
	}
	@media screen and (max-width: 500px) {
		padding: 40px 0;
	}
	&__title {
		text-align: center;
		font-size: 40px;
		font-weight: 400;
	}
	.wrapper {
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px;
	}
	.cards {
		margin-top: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		&__list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			list-style: none;
		}
		&__item {
			width: 33.33333%;
			padding: 20px;
			@media screen and (max-width: 900px) {
				width: 50%;
			}
			@media screen and (max-width: 678px) {
				padding: 12px;
			}
			@media screen and (max-width: 500px) {
				width: 100%;
			}
			.card {
				&__body {
					height: 100%;
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					padding: 28px 40px;
					border-radius: 12px;

					background-color: #fff;
					box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 12%);
					@media screen and (max-width: 678px) {
						padding: 18px 28px;
					}
				}

				&__text {
					h2 {
						text-align: center;
						font-size: 26px;
						line-height: 36px;
						font-weight: 400;
					}
					&-content {
						font-size: 18px;
						list-style: 20px;
						font-weight: 300;
						margin-top: 12px;
						p + p {
							margin-top: 8px;
						}
					}
				}

				&__link {
					margin-top: 14px;
					a {
						position: relative;
						text-decoration: none;
						font-weight: 700;
						color: #000;
						&:after {
							content: '';
							position: absolute;
							width: 100%;
							transform: scaleX(0);
							height: 1px;
							bottom: 0;
							left: 0;
							background-color: rgba(0, 0, 0, 1);
							transform-origin: bottom right;
							transition: transform 0.15s ease-out;
						}

						&:hover:after {
							transform: scaleX(1);
							transform-origin: bottom left;
						}
					}
				}
			}
		}
	}
}

.section-brands {
	padding: 20px 0 80px;
	@media screen and (max-width: 678px) {
		padding: 20px 0 60px;
	}
	@media screen and (max-width: 500px) {
		padding: 20px 0 40px;
	}
	&-title {
		text-align: center;
		font-size: 40px;
		font-weight: 400;
	}
}
.owl-carousel {
	padding-top: 50px;
	cursor: grab;
}
.owl-carousel .item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.owl-carousel .item__image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.owl-carousel .owl-item img {
	display: block;
	max-width: 200px;
	height: 100px;
	width: 100%;
	object-fit: cover;
	filter: grayscale(1);
	transition: 0.2s ease;
	&:hover {
		filter: grayscale(0);
	}
}

.section-login {
	height: 100vh;
	width: 100%;
	background-image: url('../img/log-bg.jpg');
	background-size: cover;
	background-position: center center;
	.wrapper {
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	}
	.login {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&__block {
			max-width: 516px;
			width: 100%;
			padding: 45px 64px;
			display: flex;
			justify-content: start;
			align-items: center;
			flex-direction: column;

			background: rgba(255, 255, 255, 0.7);
			backdrop-filter: blur(25px);
			border-radius: 20px;
		}
		&__title h2 {
			color: #000;
			font-weight: 400;
			font-size: 30px;
			line-height: 35px;
		}
		&__form {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			margin-top: 56px;
			.input__box {
				margin-bottom: 35px;
				.invalid-text {
					display: none;
				}
				input {
					outline: none;
					width: 100%;
					background: #ffffff;
					border: 1px solid #e3e3e3;
					box-sizing: border-box;
					border-radius: 12px;
					padding: 12px 28px;
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
					font-size: 18px;
					line-height: 21px;
					&::placeholder {
						font-weight: 300;
					}
				}
				&.invalid input {
					border: 1px solid #fa2020;
					&::placeholder {
						color: #fa2020;
					}
				}
				&.invalid .invalid-text {
					margin-left: 4px;
					display: block;
					color: #fa2020;
				}
			}
			.input__box:last-child {
				margin-bottom: 26px;
			}
			.remember-pass {
				margin-left: 8px;
			}
			.recover-pass {
				margin-top: 35px;
				a {
					transition: 0.2s ease;
					text-decoration: underline;
					&:hover {
						color: #979696;
					}
				}
			}

			.remember-pass,
			.recover-pass a {
				font-weight: 300;
				font-size: 18px;
				line-height: 21px;
				color: #757575;
			}
			.form-btns {
				display: flex;
				justify-content: space-between;
				align-items: center;
				column-gap: 30px;
				margin-top: 30px;
				.btn.btn--light {
					width: 40%;
					padding: 12px 32px;
				}
				.btn.btn--dark {
					width: 60%;
					padding: 12px 44px;
				}
			}
		}
		&__socials {
			margin-top: 40px;
			text-align: center;
			.socials {
				&__list {
					display: flex;
					justify-content: center;
					align-items: center;
					list-style: none;
					column-gap: 18px;
					margin-top: 23px;
				}
				&__link {
					img {
						width: 30px;
						height: 30px;
						transition: 0.15s ease;
						&:hover {
							transform: scale(1.15);
						}
					}
				}
			}
		}
	}
}

.footer {
	background: #604f46;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #d2bdaa;

	.wrapper {
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
	}
	&__logo {
		font-size: 32px;
		width: 20%;
	}
	&__list {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		&__item {
			margin: 0 18px;
		}
		&__link {
			color: #d2bdaa;
			text-decoration: none;
			transition: 0.2s ease;
			&:hover {
				color: #fff;
			}
		}
	}
	&__copyright {
		width: 20%;
		text-align: right;
	}
}

@media screen and (max-width: 980px) {
	.header__navigation.navigation {
		display: none;
	}
	.mob-nav {
		position: fixed;
		right: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		width: 380px;
		background-color: rgba(255, 255, 255, 0.96);
		z-index: 11;
		transform: translateX(100%);
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			list-style: none;
			&__item {
				font-size: 20px;
				padding: 30px 0;
			}
			&__link {
				text-decoration: none;
				color: #000;
				text-transform: uppercase;
				span svg {
					width: 100%;
					max-width: 25px;
					height: auto;
					margin-right: 4px;
				}
			}
		}
		.navigation__search {
			margin: 16px 0 24px;
			.input__box {
				input {
					padding: 10px 30px;
				}
			}
		}
		.navigation__language {
			margin-left: 0;
		}
	}
	.burger {
		display: block;
	}
}

@media screen and (max-width: 850px) {
	.footer {
		&__container {
			flex-wrap: wrap;
		}

		&__logo,
		&__nav {
			width: 50%;
		}
		&__logo {
			font-size: 38px;
			text-align: center;
		}
		&__copyright {
			width: 100%;
			text-align: center;
			padding-top: 10px;
			margin-top: 10px;
			border-top: 1px solid;
		}

		&__list {
			flex-direction: column;
			&__item {
				margin: 8px 0;
			}
		}
	}
}
@media screen and (max-width: 510px) {
	.section-login .wrapper {
		padding: 0 12px;
	}
	.mob-nav {
		width: 100%;
	}
	.section-login .login__block {
		padding: 25px 25px;
	}
	.section-login .login__form .input__box input {
		padding: 12px 18px;
	}
	.section-login .login__form .input__box {
		margin-bottom: 20px;
	}
	.section-login .login__form .form-btns {
		flex-wrap: wrap;
		row-gap: 10px;
	}
	.section-login .login__form .form-btns .btn.btn--light,
	.section-login .login__form .form-btns .btn.btn--dark {
		width: 100%;
	}
	.section-login .login__form .recover-pass {
		margin-top: 20px;
		text-align: center;
	}
}
