@import 'header.scss';
@import 'footer.scss';
@import 'btn.scss';
@import 'home.scss';
@import 'login.scss';
@import 'companies.scss';
@import 'profile.scss';
@import 'careers.scss';
@import 'create-acc.scss';
@import 'privacy-policy.scss';
@import 'contact.scss';
@import 'faq.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	background-color: #fff1ea;
}
.wrapper {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
	@media screen and (max-width: 678px) {
		padding: 0 12px;
	}
	@media screen and (max-width: 450px) {
		padding: 0 8px;
	}
}
main {
	min-height: calc(100vh - 79px);
}
