* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 32px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn--light {
  background-color: #b39d89;
  color: #000;
}
.btn--light:hover {
  background-color: #ceb49d;
}
.btn--dark {
  background-color: #604f46;
  color: #fff;
}
.btn--dark:hover {
  background-color: #79655a;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #604f46;
  z-index: 999999;
}
.header__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 0;
}
.header__logo a {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__logo a:hover {
  color: #b39d89;
}
.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .navigation__list__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-right: 56px;
}
.header .navigation__list__item:last-child {
  margin-right: 30px;
}
.header .navigation__list__link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header .navigation__list__link:hover {
  color: #b39d89;
}
.header .navigation__search .input__box {
  position: relative;
}
.header .navigation__search .input__box input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #c4c4c4;
  border-radius: 7px;
  padding: 6px 15px;
}
.header .navigation__search .input__box input::-webkit-input-placeholder {
  color: #b39d89;
}
.header .navigation__search .input__box input::-moz-placeholder {
  color: #b39d89;
}
.header .navigation__search .input__box input:-ms-input-placeholder {
  color: #b39d89;
}
.header .navigation__search .input__box input::-ms-input-placeholder {
  color: #b39d89;
}
.header .navigation__search .input__box input::placeholder {
  color: #b39d89;
}
.header .navigation__search .input__box .search__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #b39d89;
}
.header .navigation__language {
  margin-left: 10px;
}
.header .navigation__language .language__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navigation__language .language__list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b39d89;
  margin-left: 5px;
}
.header .navigation__language .language__icon {
  color: #b39d89;
}

.mob-nav {
  display: none;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.mob-nav.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 22px;
  right: -20px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 1000;
}

.burger span {
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #fff;
}

.burger.black span {
  background-color: #000;
}

.burger.white span {
  background-color: #fff;
}

.burger span:nth-child(1) {
  top: 0;
  -webkit-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
      transform: translateX(-50%) translateY(0);
  -webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  -o-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger span:nth-child(2) {
  top: 8px;
  opacity: 1;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.burger span:last-child {
  top: 16px;
  -webkit-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
      transform: translateX(-50%) translateY(0);
  -webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  -o-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger.open span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(0) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(0) rotate(45deg);
      transform: translateX(-50%) translateY(0) rotate(45deg);
  -webkit-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  -o-transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  transition: top 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:last-child {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(0) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(0) rotate(-45deg);
      transform: translateX(-50%) translateY(0) rotate(-45deg);
  -webkit-transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  -o-transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
  transition: bottom 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s, -webkit-transform 0.2s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s;
}

.intro-section {
  height: 100vh;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
}
.intro-section .intro {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.intro-section .intro__block {
  max-width: 800px;
  width: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 20px;
}
.intro-section .intro__title {
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
}
.intro-section .intro__text {
  margin-top: 24px;
}
.intro-section .intro__text p + p {
  margin-top: 14px;
}

.section-cards {
  padding: 80px 0;
}
@media screen and (max-width: 678px) {
  .section-cards {
    padding: 60px 0;
  }
}
@media screen and (max-width: 500px) {
  .section-cards {
    padding: 40px 0;
  }
}
.section-cards__title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.section-cards .wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-cards .cards {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-cards .cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.section-cards .cards__item {
  width: 33.33333%;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  .section-cards .cards__item {
    width: 50%;
  }
}
@media screen and (max-width: 678px) {
  .section-cards .cards__item {
    padding: 12px;
  }
}
@media screen and (max-width: 500px) {
  .section-cards .cards__item {
    width: 100%;
  }
}
.section-cards .cards__item .card__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px 40px;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 678px) {
  .section-cards .cards__item .card__body {
    padding: 18px 28px;
  }
}
.section-cards .cards__item .card__text h2 {
  text-align: center;
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
}
.section-cards .cards__item .card__text-content {
  font-size: 18px;
  list-style: 20px;
  font-weight: 300;
  margin-top: 12px;
}
.section-cards .cards__item .card__text-content p + p {
  margin-top: 8px;
}
.section-cards .cards__item .card__link {
  margin-top: 14px;
}
.section-cards .cards__item .card__link a {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}
.section-cards .cards__item .card__link a:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  -o-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}
.section-cards .cards__item .card__link a:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.section-brands {
  padding: 20px 0 80px;
}
@media screen and (max-width: 678px) {
  .section-brands {
    padding: 20px 0 60px;
  }
}
@media screen and (max-width: 500px) {
  .section-brands {
    padding: 20px 0 40px;
  }
}
.section-brands-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.owl-carousel {
  padding-top: 50px;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-carousel .item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-carousel .owl-item img {
  display: block;
  max-width: 200px;
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.owl-carousel .owl-item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section-login {
  height: 100vh;
  width: 100%;
  background-image: url("../img/log-bg.jpg");
  background-size: cover;
  background-position: center center;
}
.section-login .wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-login .login {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-login .login__block {
  max-width: 516px;
  width: 100%;
  padding: 45px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 20px;
}
.section-login .login__title h2 {
  color: #000;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
.section-login .login__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 56px;
}
.section-login .login__form .input__box {
  margin-bottom: 35px;
}
.section-login .login__form .input__box .invalid-text {
  display: none;
}
.section-login .login__form .input__box input {
  outline: none;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 12px 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.section-login .login__form .input__box input::-webkit-input-placeholder {
  font-weight: 300;
}
.section-login .login__form .input__box input::-moz-placeholder {
  font-weight: 300;
}
.section-login .login__form .input__box input:-ms-input-placeholder {
  font-weight: 300;
}
.section-login .login__form .input__box input::-ms-input-placeholder {
  font-weight: 300;
}
.section-login .login__form .input__box input::placeholder {
  font-weight: 300;
}
.section-login .login__form .input__box.invalid input {
  border: 1px solid #fa2020;
}
.section-login .login__form .input__box.invalid input::-webkit-input-placeholder {
  color: #fa2020;
}
.section-login .login__form .input__box.invalid input::-moz-placeholder {
  color: #fa2020;
}
.section-login .login__form .input__box.invalid input:-ms-input-placeholder {
  color: #fa2020;
}
.section-login .login__form .input__box.invalid input::-ms-input-placeholder {
  color: #fa2020;
}
.section-login .login__form .input__box.invalid input::placeholder {
  color: #fa2020;
}
.section-login .login__form .input__box.invalid .invalid-text {
  margin-left: 4px;
  display: block;
  color: #fa2020;
}
.section-login .login__form .input__box:last-child {
  margin-bottom: 26px;
}
.section-login .login__form .remember-pass {
  margin-left: 8px;
}
.section-login .login__form .recover-pass {
  margin-top: 35px;
}
.section-login .login__form .recover-pass a {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  text-decoration: underline;
}
.section-login .login__form .recover-pass a:hover {
  color: #979696;
}
.section-login .login__form .remember-pass,
.section-login .login__form .recover-pass a {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #757575;
}
.section-login .login__form .form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 30px;
}
.section-login .login__form .form-btns .btn.btn--light {
  width: 40%;
  padding: 12px 32px;
}
.section-login .login__form .form-btns .btn.btn--dark {
  width: 60%;
  padding: 12px 44px;
}
.section-login .login__socials {
  margin-top: 40px;
  text-align: center;
}
.section-login .login__socials .socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  margin-top: 23px;
}
.section-login .login__socials .socials__link img {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}
.section-login .login__socials .socials__link img:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.footer {
  background: #604f46;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d2bdaa;
}
.footer .wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.footer__logo {
  font-size: 32px;
  width: 20%;
}
.footer__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.footer__list__item {
  margin: 0 18px;
}
.footer__list__link {
  color: #d2bdaa;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.footer__list__link:hover {
  color: #fff;
}
.footer__copyright {
  width: 20%;
  text-align: right;
}

@media screen and (max-width: 980px) {
  .header__navigation.navigation {
    display: none;
  }

  .mob-nav {
    position: fixed;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 380px;
    background-color: rgba(255, 255, 255, 0.96);
    z-index: 11;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .mob-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
  }
  .mob-nav__list__item {
    font-size: 20px;
    padding: 30px 0;
  }
  .mob-nav__list__link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
  .mob-nav__list__link span svg {
    width: 100%;
    max-width: 25px;
    height: auto;
    margin-right: 4px;
  }
  .mob-nav .navigation__search {
    margin: 16px 0 24px;
  }
  .mob-nav .navigation__search .input__box input {
    padding: 10px 30px;
  }
  .mob-nav .navigation__language {
    margin-left: 0;
  }

  .burger {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo, .footer__nav {
    width: 50%;
  }
  .footer__logo {
    font-size: 38px;
    text-align: center;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list__item {
    margin: 8px 0;
  }
}
@media screen and (max-width: 510px) {
  .section-login .wrapper {
    padding: 0 12px;
  }

  .mob-nav {
    width: 100%;
  }

  .section-login .login__block {
    padding: 25px 25px;
  }

  .section-login .login__form .input__box input {
    padding: 12px 18px;
  }

  .section-login .login__form .input__box {
    margin-bottom: 20px;
  }

  .section-login .login__form .form-btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }

  .section-login .login__form .form-btns .btn.btn--light,
.section-login .login__form .form-btns .btn.btn--dark {
    width: 100%;
  }

  .section-login .login__form .recover-pass {
    margin-top: 20px;
    text-align: center;
  }
}
.careers {
  min-height: 500px;
  height: 100vh;
  background: url("../img/careers-bg.jpg");
  padding-top: 120px;
}
.careers .container {
  padding: 0 30px;
}

.careers__title,
.careers__desc {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}

.careers__title {
  max-width: 400px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
}

.careers__desc {
  max-width: 450px;
  font-size: 18px;
}

@media (max-width: 500px) {
  .careers__title,
.careers__desc {
    text-align: center;
  }
}