* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}
.navigation__logo {
  position: absolute;
  left: 40px;
  top: 50%;
  font-family: "Playfair Display";
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}
.navigation__logo span {
  font-size: 50px;
}
.navigation__logo span:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  -o-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}
.navigation__logo span:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.navigation__list__item {
  margin-left: 24px;
}
.navigation__list__link {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.navigation__list__link:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  -o-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}
.navigation__list__link:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.navigation.scroll {
  height: 68px;
  background-color: white;
}

.navigation.scroll .navigation__logo {
  color: #000;
  top: 0;
}

.navigation.scroll .navigation__logo span:after {
  background-color: #000;
  height: 2px;
  bottom: 2px;
}

.navigation.scroll .navigation__list__link {
  color: #000;
}

.navigation.scroll .navigation__list__link:after {
  background-color: #000;
}

.intro {
  width: 100%;
  height: 100vh;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 15px;
}
.intro__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__body {
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 50px;
}
.intro__text h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.intro__text p + p {
  margin-top: 20px;
}
.intro__navigation {
  position: relative;
  margin: 0 -80px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.intro__navigation__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 24px;
}
.intro__navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 36px;
}
.intro__navigation__link {
  text-decoration: none;
  color: #000;
}
.intro__navigation__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%) scaleX(-1);
      -ms-transform: translate(0, -50%) scaleX(-1);
          transform: translate(0, -50%) scaleX(-1);
}
.intro__navigation__icon img {
  width: 100%;
  max-width: 30px;
  height: auto;
}

.section-cards .wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
.section-cards .cards {
  padding: 40px 0;
}
.section-cards .cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.section-cards .cards__list__container {
  max-width: 300px;
  position: relative;
  border: 2px solid #604f46;
  padding: 30px;
}
.section-cards .cards__list__container img.quotes {
  position: absolute;
  width: 30px;
  height: auto;
  background-color: #fff;
}
.section-cards .cards__list__container img.top-quotes {
  top: -15px;
  left: -15px;
}
.section-cards .cards__list__container img.bottom-quotes {
  bottom: -15px;
  right: -15px;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.section-brands .wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
.section-brands .brands {
  padding: 40px 0;
}
.section-brands .brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  gap: 50px;
}
.section-brands .brands__item {
  width: 25%;
}
.section-brands .brands img {
  width: 100%;
  max-width: 205px;
  height: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.section-brands .brands img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.footer {
  background-color: #604f46;
  padding: 0 15px;
}
.footer__navigation {
  padding: 40px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.footer__navigation__link {
  text-decoration: none;
  color: #fff;
}